.ListMainDiv .listcard {
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
  cursor: pointer;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ListMainDiv .listcard .editoption {
  color: blue;
  cursor: pointer;
}
.ListMainDiv .listcard .editoption:hover {
  color: brown;
}
.ListMainDiv .listcard .deleteoption {
  color: red;
  cursor: pointer;
}
.ListMainDiv .listcard .deleteoption:hover {
  color: brown;
}
.ListMainDiv .noListsAvailable {
  background-color: lightseagreen;
  color: white;
  text-align: center;
  width: 209px !important;
  margin: 150px 0 0 60px;
}