.deleteModel {
    .modal-content {
        width: 55%;
        margin: 35%;
    }

    .modalBody {
        background-color: lightpink;
        border-radius: 0.313rem 0.313rem 0 0;
    }

    .modal-footer {
        background-color: paleturquoise;
    }

}