.DeleteModel {
    .modal-content {
        width: 55%;
        margin: 150px;
    }

    .ModalBody {
        background-color: lightpink;
       //  opacity: 100%;
      //  color: white;
        border-radius: 5px 5px 0 0;
    }

    .modal-footer {
        background-color: paleturquoise !important;
    }

}