.addMoreTasks {
    position: absolute;
    bottom: 0.25rem;
    right: 1rem;

    .addTaskFloatingButton {
        border-radius: 100%;
    }
}

.container {

    .twoGrids {
        position: relative;

        .noListAvailable {
            margin-left: 33%;
        }
    }

    .addList {
        float: right;
    }

    .title {
        font-weight: bold;
        font-size: 170%;
        text-align: center;
        margin-top: 2%;
        ;
    }

    .homeLeftGrid {
        overflow-y: auto;
        overflow-x: hidden;
        height: 20.625rem;
        border-radius: 0 0 0.8rem 0.8rem;
        background-color: lightblue;
    }

    .homeRightGrid {
        overflow-y: auto;
        overflow-x: hidden;
        height: 20.625rem;
        border-radius: 0 0 0.8rem 0.8rem;
        background-color: lightblue;
    }

    #homeRightGrid::-webkit-scrollbar-track {
        background-color: lightblue;
    }

    #homeRightGrid::-webkit-scrollbar {
        width: 12px;
    }

    #homeRightGrid::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: lightseagreen;
    }

    #homeLeftGrid::-webkit-scrollbar-track {
        background-color: lightblue;
    }

    #homeLeftGrid::-webkit-scrollbar {
        width: 12px;
    }

    #homeLeftGrid::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: lightseagreen;
    }


    .listsHeading {
        color: white;
        font-weight: bolder;
        margin: 0.625rem 0 0 0;
        background-color: lightseagreen;
        height: 2.813rem;
        font-size: 1.25rem;
        padding-top: 0.313rem;
        border-radius: 1.25rem 1.25rem 0 0;

        .listsHeading {
            margin-left: 2.813rem;
        }

        .actionsListsHeading {
            margin-left: 9.063rem;
        }

        .listsHeadingWithoutLists {
            margin-left: 38%;
        }
    }

    .tasksMainHeading {
        .completedHeading {
            margin-left: 1.25rem;
        }

        .taskHeading {
            margin-left: 4.375rem;
        }

        .priorityHeading {
            margin-left: 9.688rem;
        }

        .actionsTasksHeading {
            margin-left: 8.125rem;
        }

        color: white;
        font-weight: bolder;
        margin: 0.625rem 0 0 0;
        background-color: lightseagreen;
        height: 2.813rem;
        font-size: 1.25rem;
        padding-top: 0.313rem;
        border-radius: 1.25rem 1.25rem 0 0;
    }

    .addListButton {
        background-color: lightseagreen;
        color: white;
    }

    .completedTasksButton {
        float: right;
    }

    .btn-primary {
        background-color: lightseagreen !important;
    }
}